<div id="<%= dom_id sport %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <span><%= sport.name %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <span><%= sport.kind %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team size:</strong>
    <span><%= sport.team_size %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team total size:</strong>
    <span><%= sport.team_total_size %></span>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this sport", sport, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this sport', edit_sport_path(sport), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
