<!DOCTYPE html>
<html>
  <head>
    <title>Championships</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black text-white">
    <div class="container mx-auto px-5">
      <%= render "layouts/partials/header" %>
      <div class="flex pb-5 gap-x-5">
        <%= render "layouts/partials/aside" %>
        <main class="flex-grow">
          <%= render "layouts/partials/flashes" %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
